.article {
  max-width: 70rem;
  margin: auto;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.textWrapper {
  max-width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  justify-content: center;
}

.title {
  color: #48604b;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.orderedList {
  padding-inline-start: 0;
}

@media screen and (min-width: 680px) {
  .article {
    padding: 1rem 3rem;
  }

  .textWrapper {
    max-width: 45rem;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .offsetImageParagraph {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 45rem;
  }

  .offsetImage {
    width: auto;
  }

  .offsetText {
    margin-block-end: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .offsetImageParagraph {
    align-items: flex-start;
    display: flex;
  }

  .offsetImage {
    flex: 1 1 50%;
  }

  .offsetText {
    flex: 1 2 50%;
    margin: 0;
    padding-right: 9rem;
  }

  .offsetTextLeft {
    composes: offsetText;
    padding-right: 0;
    padding-left: 9.5rem;
  }

  .leftOffset {
    composes: offsetImageParagraph;
    flex-direction: row;
  }

  .rightOffset {
    composes: offsetImageParagraph;
    flex-direction: row-reverse;
  }
}
