.article {
  max-width: 70rem;
  margin: auto;
  padding: 1rem;
  font-size: 1.25rem;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: center;
}

.title {
  color: #48604b;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

@media (min-width: 680px) {
  .article {
    padding: 1rem 3rem;
  }
}
